# Must be the public URL where the backend is reachable FROM THE BROWSER.
# For local Docker/Development Server: http://localhost:5500
# For production:   https://api.yourdomain.com
VITE_API_URL=http://localhost:5500